In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('Players_Euroleague.csv')
df1 = pd.read_csv('Euroleague_minutes.csv')

In [26]:
df

,Unnamed: 0,season,rank,player,team,games,index,average,per_40min
0,0,2020-21,1,"TAVARES, WALTER",Real Madrid,29,545,18.79,28.61
1,1,2020-21,2,"JAMES, MIKE",CSKA Moscow,25,498,19.92,25.46
2,2,2020-21,3,"MIROTIC, NIKOLA",FC Barcelona,22,470,21.36,33.92
3,3,2020-21,4,"REYNOLDS, JALEN",FC Bayern Munich,28,459,16.39,30.34
4,4,2020-21,5,"VESELY, JAN",Fenerbahce Beko Istanbul,25,446,17.84,24.62
...,...,...,...,...,...,...,...,...,...
6859,6859,2000-01,300,"HENRY, WAYNE",Haribo London Towers,10,-7,-0.70,-6.87
6860,6860,2000-01,300,"PLANINIC, ZORAN",Cibona VIP,5,-7,-1.40,-3.32
6861,6861,2000-01,300,"CLEYMANS, ERIK",Region Wallone Spirou Charleroi,10,-7,-0.70,-1.26
6862,6862,2000-01,303,"KIKILIAS, VASSILIS",AEK Athens,10,-10,-1.00,-3.27
6863,6863,2000-01,304,"THIRY, BERNARD",Region Wallone Spirou Charleroi,6,-14,-2.33,-9.72

In [27]:
playersIndex = df.drop('Unnamed: 0', axis=1)

In [28]:
playersIndex.columns = playersIndex.columns.str.strip()

In [29]:
playersMinutes = df1.drop('Unnamed: 0', axis=1)

In [30]:
playersMinutes.columns = playersMinutes.columns.str.strip()

In [31]:
playersMinutes

,season,rank,player,team,games,minutes
0,2020-21,1,"MICIC, VASILIJE",Anadolu Efes Istanbul,26,792:44
1,2020-21,2,"GIEDRAITIS, ROKAS",TD Systems Baskonia Vitoria-Gasteiz,28,789:58
2,2020-21,3,"JAMES, MIKE",CSKA Moscow,25,782:19
3,2020-21,4,"GRIGONIS, MARIUS",Zalgiris Kaunas,28,778:35
4,2020-21,5,"POLONARA, ACHILLE",TD Systems Baskonia Vitoria-Gasteiz,27,778:21
...,...,...,...,...,...,...
6859,2000-01,300,"VESKOVIC, MILIJAN",Saint Petersburg Lions,1,1:05
6860,2000-01,301,"DEFOSSE, JULIEN",Region Wallone Spirou Charleroi,1,1:00
6861,2000-01,301,"BRKIC, DAVID",Kinder Virtus Bologna,1,1:00
6862,2000-01,301,"AKRIVOS, CRISTIAN",Kinder Virtus Bologna,1,1:00
6863,2000-01,304,"VASILEIADIS, KOSTAS",PAOK Thessaloniki,2,0:07

In [32]:
baseU18 = playersIndex.merge(playersMinutes[['season', 'player', 'team', 'games', 'minutes']],'left',on=['season', 'player', 'team', 'games'],suffixes=('', 'minutes'))

In [33]:
baseU18

,season,rank,player,team,games,index,average,per_40min,minutes
0,2020-21,1,"TAVARES, WALTER",Real Madrid,29,545,18.79,28.61,761:56
1,2020-21,2,"JAMES, MIKE",CSKA Moscow,25,498,19.92,25.46,782:19
2,2020-21,3,"MIROTIC, NIKOLA",FC Barcelona,22,470,21.36,33.92,554:13
3,2020-21,4,"REYNOLDS, JALEN",FC Bayern Munich,28,459,16.39,30.34,605:03
4,2020-21,5,"VESELY, JAN",Fenerbahce Beko Istanbul,25,446,17.84,24.62,724:40
...,...,...,...,...,...,...,...,...,...
6859,2000-01,300,"HENRY, WAYNE",Haribo London Towers,10,-7,-0.70,-6.87,40:46
6860,2000-01,300,"PLANINIC, ZORAN",Cibona VIP,5,-7,-1.40,-3.32,84:16
6861,2000-01,300,"CLEYMANS, ERIK",Region Wallone Spirou Charleroi,10,-7,-0.70,-1.26,222:31
6862,2000-01,303,"KIKILIAS, VASSILIS",AEK Athens,10,-10,-1.00,-3.27,122:18
6863,2000-01,304,"THIRY, BERNARD",Region Wallone Spirou Charleroi,6,-14,-2.33,-9.72,57:36

In [39]:
dup_index = baseU18.groupby(['player'])['index'].transform(max) == baseU18['index']
base_index = baseU18[dup_index].sort_values(by=['player'])

In [40]:
base_index

,season,rank,player,team,games,index,average,per_40min,minutes
75,2020-21,76,"ABALDE, ALBERTO",Real Madrid,29,245,8.45,16.53,592:51
1247,2016-17,153,"ABASS, AWUDU",EA7 Emporio Armani Milan,23,85,3.70,9.23,368:32
6615,2000-01,55,"ABBIO, ALESSANDRO",Kinder Virtus Bologna,19,149,7.84,12.71,468:53
4679,2006-07,250,"ABDUL-RAUF, MAHMOUD",Aris TT Bank,17,22,1.29,4.57,192:45
6421,2001-02,310,"ABI, MUSTAFA",Ulker,11,19,1.73,6.90,110:10
...,...,...,...,...,...,...,...,...,...
5909,2002-03,139,"ZUKAUSKAS, MINDAUGAS",Montepaschi Siena,22,107,4.86,8.20,522:00
3900,2008-09,157,"ZUPAN, MIHA",Union Olimpija,10,70,7.00,12.79,218:51
5332,2004-05,229,"ZUZA, JURICA",Cibona VIP,6,32,5.33,16.84,76:00
4064,2008-09,318,"ZWIENER, PHILLIP",Alba Berlin,3,-2,-0.67,-7.03,11:23
1664,2015-16,324,"ZYWERT, KAMIL",Stelmet Zielona Gora,1,0,0.00,0.00,1:36

In [41]:
dup_avg = base_index.groupby(['player'])['average'].transform(max) == base_index['average']
base = base_index[dup_avg].sort_values(by=['player'])

In [42]:
base

,season,rank,player,team,games,index,average,per_40min,minutes
75,2020-21,76,"ABALDE, ALBERTO",Real Madrid,29,245,8.45,16.53,592:51
1247,2016-17,153,"ABASS, AWUDU",EA7 Emporio Armani Milan,23,85,3.70,9.23,368:32
6615,2000-01,55,"ABBIO, ALESSANDRO",Kinder Virtus Bologna,19,149,7.84,12.71,468:53
4679,2006-07,250,"ABDUL-RAUF, MAHMOUD",Aris TT Bank,17,22,1.29,4.57,192:45
6421,2001-02,310,"ABI, MUSTAFA",Ulker,11,19,1.73,6.90,110:10
...,...,...,...,...,...,...,...,...,...
5909,2002-03,139,"ZUKAUSKAS, MINDAUGAS",Montepaschi Siena,22,107,4.86,8.20,522:00
3900,2008-09,157,"ZUPAN, MIHA",Union Olimpija,10,70,7.00,12.79,218:51
5332,2004-05,229,"ZUZA, JURICA",Cibona VIP,6,32,5.33,16.84,76:00
4064,2008-09,318,"ZWIENER, PHILLIP",Alba Berlin,3,-2,-0.67,-7.03,11:23
1664,2015-16,324,"ZYWERT, KAMIL",Stelmet Zielona Gora,1,0,0.00,0.00,1:36

In [43]:
base.to_csv('baseEuroleague.csv')